/* CSS Document */

.banner{
	margin-top: 100px;
}

.banner img{
	width: 100%;
	height: auto;
}

.branch-photo img{
	width: 100%;
	height: auto;
}

.academy{
	background: gray;
}

.literature{
	margin-top: 100px;
	height: 400px;
	border: 1px solid red;
}
.navbar-brand>img {
	max-height: 100%;
	width: auto;
}

.navbar-brand{
	padding: 5px;
}




.info {
	height: 200px;
}
.branch-photo {
	margin-top: 20px;
}

.academy .row {
	background: gray;
}
