/* CSS Document */

body{
	background: url(./assets/gears.png) fixed center center, url(./assets/grid.png) fixed repeat-x, #C1C1C1;
}

.navbar-default{
	background: #5E5E5E;
	color: white;
	border-color: #5D5D5D;
}

.navbar-brand{
	height: 100%;
}

div.navbar-header{
	height: 70px;
}

.navbar-toggle{
	margin-top: 20px;
	margin-bottom: 20px;
}

.red{
	color: red;
}

li {
	list-style: none;
}

.container{
	background: white;
}

.banner{
	margin-top: 70px;
}

.banner img{
	width: 100%;
	height: auto;
}

div.social{
	display: flex;
	justify-content: flex-end;
	background: #F5F5F5;
}

div.social ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.social li {
	margin-right: 20px;
}

.social .fa{
	font-size: 2em;
}

.row.col-xs-4{
	padding: 0;
	margin: 0;
}

.contact .col-xs-4{
	border: 1px solid black;
	font-size: 1em;
}

.contact .col-xs-4 h4{
	font-size: 1em;
}

div.col-sm-3.icon{
	padding-left: 0px;
	padding-right: 0px;
}

.fa.fa-phone, .fa.fa-envelope{
	font-size: 2em;
	background-color: lightblue;
	display: flex;
	justify-content: center;
	color: white;
}

.fa.fa-phone:before, .fa.fa-envelope:before{
	margin: 10px 0px;
}

div.col-sm-9, div.col-sm-12{
	padding-left: 0;
	padding-right: 0;
}

div.col-sm-9 p, div.col-sm-12 p{
	margin-bottom: 0;
}

.info {
	height: 220px;
}

.btn{
	width: 140px;
	margin: 0 auto;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #FFFFFF;
	font-weight: bold;
	background-color: red;
	border-radius: 0;
	border: 3px outset red;
	font-size: 2em;
	white-space: pre-wrap;
	margin-bottom: 5px;
}

.branch-photo {
	margin-top: 20px;
}

.branch-photo img{
	width: 100%;
	height: auto;
}

.in-touch, .lit-wrap{
	background: red;
	color: white;
	padding: 10px 20px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.in-touch h2, .lit-wrap h2{
	font-size: 3em;
	font-weight: bold;
}

.in-touch hr, .lit-wrap hr{
	margin-bottom: 5px;
	margin-top: 5px;
}

.academy{
	background: gray;
	color: white;
	text-decoration: none;
}

.academy .row {
	background: gray;
	border: 12px inset brown;
	margin: 10px;
}

.academy a:hover{
	color: white;
	text-decoration: underline;
}

.literature{
	height: 400px;
}

.literature a{
	border: 1px solid gray;
	display: inline-block;
	width: 100%;
	height: 330px;
}

.literature img{
	display: block;
	margin: 20px auto 0;
}

.literature .fa.fa-file-pdf-o{
	position: absolute;
	top: 5%;
	right: 6%;
	font-size: 3em;
}

.navbar-brand>img {
	max-height: 100%;
	width: auto;
}

.navbar-brand{
	padding: 5px;
}

footer .container{
	padding: 10px;
}

footer, footer .container{
	background: #636363;
}

footer h4{
	text-align: center;
	background: gray;
	border-bottom: 1px solid white;
	margin: 0;
	padding: 10px;
}

footer ul{
	padding-left: 0;
}

footer li{
	text-align: center;
	border-bottom: 1px solid white;
	color: white;
}

.social-links nav{
	display: flex;
	justify-content: space-around;
}